{% extends "bundles/TwigBundle/Exception/index.html.twig" %}

{% block title %}Erreur du serveur{% endblock %}
{% block message %}Erreur du serveur{% endblock %}
{% block description %}Le serveur a rencontré une erreur interne.{% endblock %}