{% extends "bundles/TwigBundle/Exception/index.html.twig" %}

{% block title %}Page introuvable{% endblock %}
{% block message %}Page introuvable{% endblock %}
{% block description %}Cette page est inaccessible, désolé !{% endblock %}