{% extends "bundles/TwigBundle/Exception/index.html.twig" %}

{% block title %}Accès refusé{% endblock %}
{% block message %}Accès refusé{% endblock %}
{% block description %}L'accès à cette page ne vous est pas autorisé{% endblock %}