{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ article.title }}</h1>
    <hr>
    {{ article.content|raw }}
    <h2 class="comment-title mt-5">
        <span class="comment_count">{{ article.comments|length }}</span> commentaire(s)
    </h2>
    <hr>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="comment-area mb-5">
        {{ form(commentForm, { 'attr' : { 'class' : 'comment-form' } }) }}
    </div>
    {% endif %}
    <div class="comment-list">
        {% for comment in comments %}
        {% include 'comment/index.html.twig' with [comment] %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}