{% extends 'base.html.twig' %}

{% block title %}{{ user.username|capitalize }}{% endblock %}

{% block body %}
<div class="container w-25">
    <div class="row">
        <div class="col">
            <h2>Profile de {{ user.username|capitalize }}</h2>
            <div class="col-12">
                <label for="Username" class="form-label">Nom d'utilisateur</label>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" value="{{ user.username }}" readonly>
                </div>
            </div>
            <div class="mb-3">
                <p>Nombre de commentaire(s) posté(s) : {{ user.comments|length }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}